$color__background-body: #FAFAFA;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

//Ferreycorp Web Designe System

//Primary colors
$color__primary--lighterAlt : #9DC31F;
$color__primary--lighterAlt2 : #D2E88D;
$color__primary--lighter : #BBEA21;
$color__primary--light : #A9D712;
$color__primary--tertiary : #7EAA08;
$color__primary--darkAlt : #6D910C;
$color__primary--dark : #64850A;
$color__primary--dark : #567308;

//Secundary colors
$color__secundary--skyblue : #28B7CD;
$color__secundary--blue : #004F9E;
$color__secundary--purple : #662A82;
$color__secundary--red : #E93E11;
$color__secundary--orange : #FF9E06;

//Theme colors
$color__theme--tertiary : #3C3C3B;
$color__theme--darkAlt : #5C5C61;
$color__theme--dark : #89898E;
$color__theme--darker : #B9B9BE;


//Error-&-Status
$color__error : #EC9EA6;
$color__success : #C7E9C4;

//Textos
$color-text: #737373;

